@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    background-image: linear-gradient(to top, #272527 0%, #686f70d2 100%);
}

img {
    width: 200px;
}

.product {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.productCard{
    width: 17rem;
    height: 21em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #4f5252d0 0%, #000000b8 100%);
    margin: 0.6em;
    border-radius: 0.5em;
    box-shadow: .7em .7em 1em rgba(0, 0, 0, 0.487);
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.button {
    width: 200px;
    height: 100px;
    background-color: #242424;
    border: none;
    border-radius: 11px;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 11px;
    margin-left: 11px;
    transition: 0.3s;
}

.button:hover {
    background-color: #3d3d3d;
}

#chatContainer {
    width: 30%;
    height: 50vh;
    background-color: #949494;
    border-radius: 11px;
    overflow-y: auto;
    margin: 11px;
}

#chatContainer div {
    margin-left: 7px;
    text-transform: none;
}

.spanUser {
    color:#0a0861;
    font-weight: bold;
}

.spanMessage {
    color: #1c7214;
    font-style: italic;
}

.spanDate {
    color: #5c3a1b;
    
}